<form class="user-account-form panel"
      name="userAccountForm"
      novalidate>
    <div class="form-group form-inline">
      <div class="input-group">
        <span class="input-group-addon">Display Name</span>
        <input type="text"
               name="displayName"
               class="form-control"
               id="user-account-name"
               ng-model="ctrl.user.name"
               required ng-required="true" />
      </div>
    </div>
    <div class="form-group form-inline">
      <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="email" 
               name="email"
               class="form-control" 
               id="user-account-email" 
               ng-model="ctrl.user.email"
               size="29"
               required ng-required="true" />
      </div>
    </div>
    <div class="form-group form-inline">
      <button type="button"
              class="btn btn-success"
              ng-disabled="!userAccountForm.$valid"
              ng-click="ctrl.saveChanges( userAccountForm.$valid )">
              Update Account Settings</button>
    </div>
    <div style="display: inline-block"
         ng-if="ctrl.message" 
         class="alert" 
         ng-class="{ 'alert-success': ctrl.message.error === false, 'alert-danger': ctrl.message.error === true}">
      {{ ctrl.message.text }}
    </div>
</div>