<html>
    <head>
        <title>BrewBear - The Homebrew Management System</title>
        <!-- bower:css -->
        <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="../fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- start css-templates tags -->
        <link rel="stylesheet" href="../stylesheets/public.style.css" />
        <!-- end css-templates tags -->
        
        <!-- bower:js -->
        <script src="../jquery/dist/jquery.js"></script>
        <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../angular/angular.js"></script>
        <script src="../angular-route/angular-route.js"></script>
        <script src="../lodash/lodash.js"></script>
        <script src="../d3/d3.js"></script>
        <!-- endbower -->
        <!-- start js-templates tags -->
        <script src="../javascripts/bear.js"></script>
        <script src="../javascripts/templates.js"></script>
        <script src="../javascripts/static/header.directive.js"></script>
        <!-- end js-templates tags -->
    </head>
    <body>
        <nav class="bb-navbar navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand bb-logo" href="/">
                      <img src="images/bear.png" alt="" />
                  </a>
                  <a class="navbar-brand" href="/">
                      BrewBear
                      <small><i>Track your brew!</i></small>
                  </a>
                </div>
            </div>
        </nav>
        <div style="text-align:center;">
            <h1>404<br />Your Page Could Not Found</h1>
        </div>
    </body>
</html>