<html>
    <head>
        <title>BrewBear - The Homebrew Management System</title>
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
        <script src="js/BrewBear-libs.js"></script>
    </head>
    <body>
        <h3>This is the unauthorized home page</h3>

        <div>
            <div style="font-weight:bold">Login Options</div>
            <div>
                <a href="/login/google">Google OAuth</a>
                <br/>
                <a href="/login/facebook">Facebook OAuth</a>
            </div>
        </div>
    </body>
</html>