<html>
    <head>
        <title>BrewBear - The Homebrew Management System</title>
        <!-- bower:css -->
        <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="../fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- start css-templates tags -->
        <link rel="stylesheet" href="../stylesheets/public.style.css" />
        <!-- end css-templates tags -->
        
        <!-- bower:js -->
        <script src="../jquery/dist/jquery.js"></script>
        <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../angular/angular.js"></script>
        <script src="../lodash/lodash.js"></script>
        <!-- endbower -->
        <!-- start js-templates tags -->
        <script src="../javascripts/bear.js"></script>
        <script src="../javascripts/templates.js"></script>
        <script src="../javascripts/static/header.directive.js"></script>
        <!-- end js-templates tags -->
    </head>
    <body>
        <nav class="bb-navbar navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand bb-logo" href="/">
                      <img src="images/bear.png" alt="" />
                  </a>
                  <a class="navbar-brand" href="/">
                      BrewBear
                      <small><i>Track your brew!</i></small>
                  </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                            data-toggle="dropdown" role="button">
                            Login <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/login/google" class="bb-oauth">
                                <i class="fa fa-google google-link"></i> Google
                            </a></li>
                            <li><a href="/login/facebook" class="bb-oauth">
                                <i class="fa fa-facebook fb-link"></i> Facebook
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="bb-carousel" class=" carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#bb-carousel" data-slide-to="0"
                   class="active"></li>
                <li data-target="#bb-carousel" data-slide-to="1"></li>
                <li data-target="#bb-carousel" data-slide-to="2"></li>
                <li data-target="#bb-carousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h1>What is BrewBear?</h1>
                    <div class="carousel-caption">
                        <h3>BrewBear is a one-stop homebrew tracking suite. 
                            Store all of your beers & recipes and keep track 
                            of what you've currently got on tap!</h3>
                    </div>
                </div>
                <div class="item">
                    <h1>My Bar</h1>
                    <div class="carousel-caption">
                        <h3>Add beers to your "bar".  Customize your home 
                        taproom with kegs, bottles, and what's currently being 
                        served.</h3>
                    </div>
                </div>
                <div class="item">
                    <h1>History & Trends</h1>
                    <div class="carousel-caption">
                        <h3>View your drinking history!  See how often you 
                            drink, what your most popular drinking day of the 
                            week is, and what your most popular brews are plus 
                            much more!</h3>
                    </div>
                </div>
                <div class="item">
                    <h1>What's On Tap?</h1>
                    <div class="carousel-caption">
                        <h3>Display next to your tap set up.  Keep track of 
                            the estimated beer remaining in your kegs.  Display 
                            what is currently being served in your homebrew bar!
                        </h3>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#bb-carousel"
                data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#bb-carousel"
                data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="bb-container container">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>I develop this application in my free time.  Maintenance 
                costs are pretty much zero at the moment, but the caffeine and 
                beer that powers me through the development is not.</p>  
                <p>If you like what you see and would like to support me, buy 
                me a coffee or a beer!</p>
                <p class="text-center">
                    <button class="btn btn-default">
                        <a href="https://venmo.com/?txn=pay&recipients=Matt-Lava&note=Keep%20up%20the%20good%20 work%20with%20BrewBear&audience=private&amount=5.00" 
                        target="_blank">Buy me a beer or coffee!</a>
                    </button>
                </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>BrewBear is open source.  What am I doing with the 
                information you share by logging in?  Nothing, it's just to 
                make your experience a little more personable!  What am I doing 
                with your email address?  Nothing, well, not true...I'll send 
                updates about the site...unless you ask me to stop!</p>
                <p>Don't believe me?  Like I said, it's open source so 
                head over to GitHub and look at the code if you want to 
                see for yourself...or contribute, I'd love for code 
                contributions as well</p>
                <p class="text-center">
                    <button class="btn btn-default">
                        <a href="https://github.com/mattlavallee/brewbear" 
                        target="_blank">BrewBear on Github</a>
                    </button>
                    <button class="btn btn-default">
                        <a href="mailto:matt.lavallee.dev@gmail.com" 
                            target="_blank">
                            Get in touch with me about Contributing!
                        </a>
                    </button>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <cite>&copy; 2015 - Matt Lavallee</cite>
            </div>
        </div>
    </body>
</html>