<html>
    <head>
        <title>BrewBear - The Homebrew Management System</title>
        <!-- bower:css -->
        <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- start css-templates tags -->
        <link rel="stylesheet" href="../../stylesheets/private.style.css" />
        <link rel="stylesheet" href="../../stylesheets/auth-style.css" />
        <!-- end css-templates tags -->

        <!-- bower:js -->
        <script src="../../jquery/dist/jquery.js"></script>
        <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../angular/angular.js"></script>
        <script src="../../angular-route/angular-route.js"></script>
        <script src="../../lodash/lodash.js"></script>
        <!-- endbower -->
        <!-- start js-templates tags -->
        <script src="../../javascripts/bear.js"></script>
        <script src="../../javascripts/templates.js"></script>
        <script src="../../javascripts/static/header.directive.js"></script>
        <script src="../../javascripts/private/beer.service.js"></script>
        <script src="../../javascripts/private/beer/beer.controller.js"></script>
        <script src="../../javascripts/private/beer/beer.directive.js"></script>
        <script src="../../javascripts/private/beer/edit-beer.directive.js"></script>
        <script src="../../javascripts/private/common/bar-type.constant.js"></script>
        <script src="../../javascripts/private/common/srm.constant.js"></script>
        <script src="../../javascripts/private/common/unit.constant.js"></script>
        <script src="../../javascripts/private/routes/brew-bear-route.controller.js"></script>
        <script src="../../javascripts/private/tap.service.js"></script>
        <script src="../../javascripts/private/tap/edit-tap.directive.js"></script>
        <script src="../../javascripts/private/tap/tap.controller.js"></script>
        <script src="../../javascripts/private/tap/tap.directive.js"></script>
        <script src="../../javascripts/private/taproom.service.js"></script>
        <script src="../../javascripts/private/taproom/edit-taproom.directive.js"></script>
        <!-- end js-templates tags -->
    </head>
    <body ng-app="brewbear">
        <brew-bear-header></brew-bear-header>
        
        <div class="container">
            <div ng-view></div>
        </div>
    </body>
</html>