<html>
    <head>
        <title>BrewBear - The Homebrew Management System</title>
        <!-- bower:css -->
        <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- start css-templates tags -->
        <link rel="stylesheet" href="../../stylesheets/private.style.css" />
        <link rel="stylesheet" href="../../stylesheets/auth-style.css" />
        <!-- end css-templates tags -->

        <!-- bower:js -->
        <script src="../../jquery/dist/jquery.js"></script>
        <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../angular/angular.js"></script>
        <!-- endbower -->
        <!-- start js-templates tags -->
        <script src="../../javascripts/bear.js"></script>
        <script src="../../javascripts/templates.js"></script>
        <!-- end js-templates tags -->
    </head>
    <body ng-app="brewbear">
        <brew-bear-header></brew-bear-header>
        
        <div class="container">
            <div class="panel">My Bar!</div>
        </div>
    </body>
</html>