<html>
    <head>
        <title>BrewBear - The Homebrew Management System</title>
        <link rel="stylesheet" href="../stylesheets/libs-css.min.css" />
        <link rel="stylesheet" href="../stylesheets/style.css" />
        <script src="../js/BrewBear-libs.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand bb-logo" href="/">
                      <img src="../images/bear.png" alt="" />
                  </a>
                  <a class="navbar-brand" href="/">
                      BrewBear
                      <small><i>Track what you brew and drink!</i></small>
                  </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                            data-toggle="dropdown" role="button">
                            Me <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/login/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="panel panel-default">My Bar!</div>
    </body>
</html>