.bb-logo{
    padding-top: 2px;
}

.faBlue{
    color: #47639e;
}

.googRed{
    color: #d73d32;
}

.bb-navbar{
    margin-bottom: 0 !important;
}

#bb-carousel{
    margin-top: 0;
}

#bb-carousel h1{
    margin: 0;
    padding-top: 50px;
}

#bb-carousel .item{
    text-align: center;
    height: 300px !important;
    background-color: #afafaf;
}

#bb-carousel .left, #bb-carousel .right{
    background-image: none !important;
}