<div ng-if="tapVm.notFoundError === true">
  Sorry! We couldn't find your tap to update :(
</div>
<form class="user-tap-form panel"
      name="userTapForm"
      ng-if="tapVm.notFoundError !== true"
      novalidate>
    <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Name</span>
          <input type="text" 
               name="name"
               class="form-control" 
               id="user-tap-name" 
               ng-model="tapVm.model.name"
               required ng-required="true"
               ng-minlength="3" />
        </div>
        <div class="validation-error" 
              ng-if="userTapForm.name.$invalid && !userTapForm.name.$pristine">
          Your tap name should be at least 3 characters long!
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Style</span>
          <select name="type"
                class="form-control"
                id="user-tap-type"
                ng-model="tapVm.model.typeId"
                ng-disabled="tapVm.id !== -1"
                required ng-required="true">
                <option />
                <option ng-repeat="type in tapVm.types | orderBy: 'type.name'"
                        value="{{type.id}}">{{ type.name }}</option>
          </select>
        </div>
        <div class="validation-error"
              ng-if="userTapForm.type.$invalid && !userTapForm.style.$pristine">
          You must select a tap type
        </div>
    </div>
    <div class="btn-group" role="group" style="margin-top: 10px;">
      <button type="button" 
              class="btn btn-success"
              ng-disabled="!userTapForm.$valid"
              ng-click="tapVm.saveTap( userTapForm.$valid )">
        {{ tapVm.id === -1 ? 'Add' : 'Update' }}
      </button>
      <button type="button" 
              class="btn btn-warning"
              ng-click="tapVm.closeTapDialog()">Cancel</button>
    </div>
    <div class="validation-error" ng-if="tapVm.error === true">
      There was an error saving your tap :(
    </div>
</div>