<div class="well">
    <div>
        <h3>Taps & Bottles</h3> 
        <button
            type="button"
            class="btn btn-primary"
            ng-click="tapVm.updateActiveTapId( -1 )"
            data-toggle="modal" data-target=".add-edit-tap-modal">
            Add a Tap
        </button>
    </div>
    <div class="user-tap-container">
        <div class="panel user-tap" 
             ng-repeat="tap in tapVm.taps | orderBy:'name'">
            <div class="user-tap-name">{{ tap.name }}</div>
            <div ng-if="tap.type.id === 1" 
                 class="icon-beer-keg tap-icon fa-rotate-270"></div>
            <div ng-if="tap.type.id === 2" 
                 class="icon-beer-bottles tap-icon"></div>
            <div class="btn-group btn-group-xs">
                <button type="button"
                        class="btn btn-info"
                        data-toggle="modal" data-target=".add-edit-tap-modal"
                        ng-click="tapVm.updateActiveTapId( tap.id )">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade add-edit-tap-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{ tapVm.activeTapId === -1 ? 'Adding a New Tap!' : 'Updating Your Tap!' }}</strong>
      </div>
      <div class="modal-body">
        <edit-tap id="tapVm.activeTapId"></edit-tap>
      </div>
    </div>
  </div>
</div>