<div class="well">
    <div>
        <h3>Taps & Bottles</h3> 
        <a href="#/addTap" class="btn btn-primary">Add a Tap</a>
    </div>
    <div class="user-tap-container">
        <div class="panel user-tap" ng-repeat="tap in tapVm.taps | orderBy:'name'">
            <div class="user-tap-name">{{ tap.name }}</div>
            <div ng-if="tap.type.id === 1" 
                 class="icon-beer-keg tap-icon fa-rotate-270"></div>
            <div ng-if="tap.type.id === 2" 
                 class="icon-beer-bottles tap-icon"></div>
            <div class="btn-group btn-group-xs">
                <button type="button"
                        class="btn btn-info"
                        ng-click="tapVm.editTap( tap.id )">Edit</button>
            </div>
        </div>
    </div>
</div>