<div class="well">
    <div class="panel user-tap" 
         ng-repeat="entry in taproomEntries | orderBy: 'tap.name'">
         <div class="user-tap-name">{{ entry.tap.name }}</div>
         <div class="tap-icon {{ getSrmColor( entry.beer.srm ).color }}" 
             ng-class="entry.tap.typeId === 1 ? 'icon-beer-keg fa-rotate-270' : 'icon-beer-bottles'"></div>
         <div>{{ entry.beer.name }}</div>
         <div>{{ entry.beer.abv }}%</div>
         <div>{{ entry.beer.style }}</div>
         <div>OG: {{ entry.beer.originalGravity }} FG: {{ entry.beer.finalGravity }}</div>
         <div>
            <gauge-chart chart-id="{{ 'meter' + entry.id }}"
                         color="{{ getSrmColor( entry.beer.srm ).hex }}"
                         percentage="{{ volumeAsPercentage( entry ) }}">
            </gauge-chart>
         </div>
         <div>Volume: {{ calculateRemainingVolume(entry.id) }} / {{ entry.volume }} {{ entry.unit.unit }}</div>
         <input type="button" 
                class="btn btn-primary" 
                ng-click="setTap( entry.id, entry.unit.id, entry.volume )"
                data-toggle="modal" data-target=".pour-drink-modal"
                value="I'll have one!" />
    </div>
</div>

<div class="modal fade pour-drink-modal" tabindex="-1" role="dialog" 
     aria-labelledby="Pour a Drink">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">Pour Me a Drink!</div>
      <div class="modal-body">
        <div class="form-group form-inline">
          I'm having <input type="number"
                            class="form-control"
                            size="4"
                            ng-model="activeTaproomEntry.currentVolume"
                            required ng-required="true"
                            min="0"
                            max="{{activeTaproomEntry.maxVolume}}"
                            step="0.1"
                            style="max-width: 75px;" />
                      <select name="type"
                              class="form-control"
                              ng-model="activeTaproomEntry.currentUnits"
                              ng-change="zeroOutVolume()"
                              required ng-required="true">
                          <option ng-repeat="unit in activeTaproomEntry.validUnits | orderBy: 'name'"
                              value="{{unit.id}}">{{ unit.name }}</option>
                      </select>
          </div>
          <div>
              <input type="button"
                     class="btn btn-success"
                     ng-click="pourMyDrink()"
                     data-toggle="modal" data-target=".pour-drink-modal"
                     value="Pour My Drink!" />
              <input type="button"
                     class="btn btn-warning"
                     ng-click="cancelPour()"
                     data-toggle="modal" data-target=".pour-drink-modal"
                     value="Cancel" />
          </div>    
      </div>
    </div>
  </div>
</div>