<div class="well">
    <div>
        <h3>All Beers</h3> 
        <button type="button"
                class="btn btn-primary"
                ng-click="beerVm.updateActiveBeerId( -1 )"
                data-toggle="modal" data-target=".add-edit-beer-modal">
            Add a Beer
        </button>
    </div>
    <div class="user-beer-container">
        <div class="panel user-beer" ng-repeat="beer in beerVm.beers track by beer.id">
            <div class="user-beer-name">
                <span class="fa fa-star active-beer" 
                      ng-if="beer.hasActiveTap"
                      title="Available in the TapRoom"></span>
                {{ beer.name }}
            </div>
            <div class="user-beer-secondary">
                <i>{{ beer.style }}</i> ABV: {{ beer.abv }}%
            </div>
            <div>
                <i class="fa fa-beer fa-3 user-glass" ng-class="beerVm.getSrmColor( beer.srm )"></i>
            </div>
            <div class="user-beer-stats">
                OG: {{ beer.originalGravity}} 
                FG: {{ beer.finalGravity }}
            </div>
            <div class="user-beer-notes" ng-if="beer.notes.length > 0">
                {{ beer.notes }}
            </div>
            <div class="btn-group btn-group-xs" role="group">
                <button type="button" 
                        class="btn btn-info"
                        data-toggle="modal" data-target=".add-edit-beer-modal"
                        ng-click="beerVm.updateActiveBeerId( beer.id )">Edit</button>
                <button type="button" 
                        class="btn btn-danger"
                        ng-click="beerVm.deleteBeer( beer.id )">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade add-edit-beer-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{ beerVm.activeBeerId === -1 ? 'Adding a New Beer!' : 'Updating Your Beer!' }}</strong>
      </div>
      <div class="modal-body">
        <edit-beer id="beerVm.activeBeerId"></edit-beer>
      </div>
    </div>
  </div>
</div>