<div class="well">
    <div>
        <h3>All Beers</h3> 
        <a href="#/addBeer" class="btn btn-primary">Add a Beer</a>
    </div>
    <div class="user-beer-container">
        <div class="panel user-beer" ng-repeat="beer in beerVm.beers">
            <div class="user-beer-name">
                <span class="fa fa-star active-beer" 
                      ng-if="beer.hasActiveTap"
                      title="Available in the TapRoom"></span>
                {{ beer.name }}
            </div>
            <div class="user-beer-secondary">
                <i>{{ beer.style }}</i> ABV: {{ beer.abv }}%
            </div>
            <div>
                <i class="fa fa-beer fa-3 user-glass" ng-class="beerVm.getSrmColor( beer.srm )"></i>
            </div>
            <div class="user-beer-stats">
                OG: {{ beer.originalGravity}} 
                FG: {{ beer.finalGravity }}
            </div>
            <div class="user-beer-notes" ng-if="beer.notes.length > 0">
                {{ beer.notes }}
            </div>
            <div class="beer-links-container">
                <a href="#/editBeer/{{ beer.id }}">Edit</a>
                &nbsp;|&nbsp;
                <span ng-click="beerVm.deleteBeer( beer.id )">Delete</span>
            </div>
        </div>
    </div>
</div>