.bb-navbar {
  margin-bottom: 0 !important;
}
.bb-navbar .bb-logo {
  padding-top: 2px;
}

beers, taps{
    h3{
        display: inline;
    }
}

.user-beer-form{
    .form-group{
        margin: 0.2em 0;
    }

    .user-glass{
        font-size: 5em;
        text-align: center;
    }

    .beer-glass-indicator{
        text-align: center;
    }

    .slider{
        width: 50%;
        margin-left: 25%;
        text-align: center;
    }

    .validation-error {
        display: inline-block;
        border: 1px solid #d58a8a;
        background-color: #fff4f4;
        padding: 2px;
        margin-top: 2px;
        color: #d58a8a;
        font-size: 0.8em;
    }
}

.user-tap-form{
    .validation-error {
        display: inline-block;
        border: 1px solid #d58a8a;
        background-color: #fff4f4;
        padding: 2px;
        margin-top: 2px;
        color: #d58a8a;
        font-size: 0.8em;
    }
}

.credit-modal-link{
    cursor: pointer;
}

.srm-paleStraw{ color: #ffff45; }
.srm-straw{ color: #ffe93c; }
.srm-paleGold{ color: #fed849; }
.srm-deepGold{ color: #ffa846; }
.srm-paleAmber{ color: #f49f44; }
.srm-mediumAmber{ color: #d77f59; }
.srm-deepAmber{ color: #94523a; }
.srm-amberBrown{ color: #804541; }
.srm-brown{ color: #5b342f; }
.srm-rubyBrown{ color: #4c3b2b; }
.srm-deepBrown{ color: #38302e; }
.srm-black{ color: #31302c; }